/*
Algumas informações úteis e dicas:
  - Fontes disponíveis:
    font-family: 'Roboto', sans-serif;
    font-family: 'Permanent Marker', cursive;
  - Cores:
    Tons de amarelo:
      #e4fc2b
      #e0d426
      #f7d736
      #e0af26
      #fcb02b
    Tons de cinza:
      #2c2c2c
      #4c4c4c
    Cores dos cards:
      #ead3a7
      #9de0f5
      #ef89ba
      #fae890
      #abe9c1
  - Sombra: https://codepen.io/sdthornton/pen/wBZdXq
 */
 .logo {
  width: 90px;
  height: 50px;
  margin-left: 0.2rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.subtitle {
  font-size: 1.5em;
  display: flex;
  align-items: center; 
  color: #2c2c2c;
  font-size: large;
}
.appbar{
  background-color: #f7d736;
  height: 4.5rem;
  margin-bottom: 2rem;
  /* text-align: center; */
  box-shadow: #2c2c2c 0px 0px 10px;
}
.form-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  width: 32%;
  border-radius: 0.2rem;
}
input {
  border: none;
  width: 80%;
  color: #2c2c2c;
  font-size: large;
  margin-bottom: 0.5rem;
  margin-left: 0rem;
  padding-left: 0rem;
}
textarea {
  border: none;
  width: 80%;
  color: #2c2c2c;
  font-size: small;
  font-family: "Roboto", sans-serif;
}
/* .btn {
  padding: 0.5rem;
  border: none;
  width: 94%;
  color: #2c2c2c;
  font-size: small;
  background-color: #f7d736;
  box-shadow: #2c2c2c 0px 0px 8px;
  cursor: pointer;
  border-radius: 0.2rem;
  margin-bottom: 0.5rem;
} */
html,
body {
  font-family: "Roboto", sans-serif;
}

/* Você pode usar o CSS comentado abaixo, se ajudar */
/* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */
.btn {
  position: relative;
  display: block;
  padding: 10px 15px;
  width: 94%;
  overflow: hidden;
  margin-bottom: 0.5rem;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #f7d736;

  transition: background-color 0.3s;
}

.btn > * {
  position: relative;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}
